{% include 'header.html.twig' %}


{# templates/about/index.html.twig #}

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>A propos de nous</title>
  <link rel="stylesheet" href="{{ asset('css/about.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="container">
    <h1>À propos de nous</h1>

    <p>
      Bienvenue sur Galaxy Store, votre destination ultime pour les jeux vidéo ! Nous sommes une entreprise passionnée par
      les jeux vidéo et nous avons créé ce site pour vous offrir une expérience de jeu inoubliable.
      <br><br>
      Notre mission est de fournir des jeux de qualité supérieure pour tous les goûts et tous les âges, tout en créant une
      communauté de joueurs engagés et passionnés. Nous sommes fiers de proposer des jeux innovants et amusants qui vous
      permettent de vous évader de la vie quotidienne et de vous plonger dans un univers de divertissement.
      <br><br>
      Notre équipe est composée de professionnels de l'industrie du jeu vidéo, tous experts dans leur domaine. Nous sommes
      constamment à la recherche de nouvelles idées et de nouvelles technologies pour améliorer l'expérience de jeu pour
      nos utilisateurs. Nous travaillons dur pour vous offrir les meilleurs jeux sur le marché, tous sélectionnés avec soin
      pour leur qualité et leur originalité.
      <br><br>
      Chez Galaxy Store, nous sommes fiers de notre culture d'entreprise dynamique et de notre engagement envers la
      communauté. Nous croyons que les jeux peuvent rassembler les gens, c'est pourquoi nous soutenons des événements de
      jeu vidéo locaux et des organisations caritatives. Nous sommes toujours ouverts à de nouvelles collaborations et à des
      partenariats pour améliorer l'expérience de jeu pour tous.
      <br><br>
      Nous sommes impatients de vous offrir une expérience de jeu exceptionnelle sur Galaxy Store. Si vous avez des
      questions, des commentaires ou des suggestions, n'hésitez pas à nous contacter via notre formulaire de contact. Nous
      sommes là pour vous aider à profiter pleinement de votre expérience de jeu.
      <br><br>
      Merci de votre visite et amusez-vous bien !
      <br><br>
      L'équipe de Galaxy Store.
    </p>
  </div>
</body>

</html>
