<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>A propos de nous</title>
  <link rel="stylesheet" href="{{ asset('/Projet/A propos de nous.css') }}">
  <link href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ asset('https://getbootstrap.com/docs/5.2/assets/css/docs.css')}}"s rel="stylesheet">
  <script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')}}"></script>
</head>

<body>
  <header>
    <nav class="navbar">
      <a href="Accueil.html">
        <img src="/image/Capture d’écran (5).png" alt="Logo"> </a>
      <ul class="nav-list">
        <li class="nav-item"><a href="Accueil.html">Accueil</a></li>
        <li class="nav-item"><a href="#">Nouveautés</a></li>
        <li class="nav-item dropdown">
          <a href="#" class="dropdown-toggle">Genres</a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Aventure</a></li>
            <li><a href="#">Course</a></li>
            <li><a href="#">RPG</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="dropdown-toggle">Plateforme</a>
          <ul class="dropdown-menu">
            <li><a href="#">Nintendo switch</a></li>
            <li><a href="#">PC</a></li>
            <li><a href="#">PS5</a></li>
            <li><a href="#">Xbox x series</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="#">A propos</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
      </ul>
      <ul class="nav-list">
        <li class="nav-item"><a href="Inscription.html">Inscription</a></li>
        <li class="nav-item"><a href="/connexion.html">Connexion</a></li>
        <li class="nav-item"><a href=""><img src="/image/panier.png" alt="Panier"></a></li>
      </ul>
    </nav>
  </header>
  <ul>
    <h1> A propos de nous </h1>
    <p> Bienvenue sur Galaxy Store, votre destination de jeu de vidéos ultime ! Nous sommes une entreprise passionnée
      par les jeux de vidéos et nous avons créé ce site pour vous offrir une expérience de jeu inoubliable.
      <br>
      Notre mission est de fournir des jeux de qualité supérieure pour tous les goûts et tous les âges, tout en créant
      une communauté de joueurs engagés et passionnés. Nous sommes fiers de proposer des jeux innovants et amusants qui
      vous permettent de vous évader de la vie quotidienne et de vous plonger dans un univers de divertissement.
      <br>
      Notre équipe est composée de professionnels de l'industrie du jeu de vidéos, tous experts dans leur domaine. Nous
      sommes constamment à la recherche de nouvelles idées et de nouvelles technologies pour améliorer l'expérience de
      jeu pour nos utilisateurs. Nous travaillons dur pour vous offrir les meilleurs jeux sur le marché, tous
      sélectionnés avec soin pour leur qualité et leur originalité.
      <br>
      Chez Galaxy Store, nous sommes fiers de notre culture d'entreprise dynamique et de notre engagement envers la
      communauté. Nous croyons que les jeux peuvent rassembler les gens et c'est pourquoi nous soutenons des événements
      de jeu de vidéos locaux et des organisations caritatives. Nous sommes toujours ouverts à de nouvelles
      collaborations et à des partenariats pour améliorer l'expérience de jeu pour tous.
      <br>
      Nous sommes impatients de vous offrir une expérience de jeu exceptionnelle sur Galaxy Store. Si vous avez des
      questions, des commentaires ou des suggestions, n'hésitez pas à nous contacter via notre formulaire de contact.
      Nous sommes là pour vous aider à profiter pleinement de votre expérience de jeu.
      <br>
      Merci de votre visite et amusez-vous bien !
      <br><br>
      L'équipe de Galaxy Store.
    </p>